/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Our Custom Settings
@import "customSettings";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

/* Start to customize Reverie */

.top-bar {
font-family: 'Orbitron', sans-serif;
}
.breadcrumbs {
font-family: 'Orbitron', sans-serif;
}
.contain-to-grid {
	width: 100%;
	background: none;
}

.fixed {
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 2.79em;
}

ul.mobile-nav li a {
    display: block;
    padding: 10px;
    background: none repeat scroll 0% 0% $color20;
    color: white;
    border-bottom: 1px solid white;
	font-weight: 800;
}

.gb-footer-top {
	font-size: 14px;
	line-height: 21px;
	color: black;
	margin-top: 2em;

}

.row.footer-nav {
	background-color: $color1;
}

.large-6.columns.social {
color: $color4
}

.cc-logo {
float: right;
margin: 0.6em;
margin-top: -1em;
}

.source-org.copyright {
font-size: 0.7em;
text-align: right;
margin-right: 110px;
}

footer.large-12.columns {
	background: $color13;
}

.social_share_privacy {
	clear: both;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 0px;
}

.section-auto-sample {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title", $content-selector:".content"); }

  @media #{$small} {
    @include section-container(false,$section-type:tabs);
    & > section { @include section($section-type:tabs, $title-selector:".title", $content-selector:".content"); }
  }
}

.section-auto-sample-vtabs {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}
@media #{$small} {
  .section-auto-sample-vtabs {
    @include section-container($section-type:vertical-tabs);
    & > section { @include section($section-type:vertical-tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}

a { color: #000; font-family: 'Orbitron', sans-serif; text-decoration: none; line-height: inherit; }
a:hover { color: #555; text-decoration:underline }
a:focus { color: #555; outline: none; }

h3 { 
	font-family: 'Oswald', sans-serif; 
}

.toc_number {
	font-weight: bold;
}

.breadcrumbs {
	display: block;
	padding: 0.5625em 0.875em 0.5625em;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	border-width: 0px;
	background-color: #d8d8d8;
}

.breadcrumbs>* {
	margin: 0;
	float: left;
	font-size: 0.9em;
	text-transform: uppercase;
}

blockquote h4 {
	background-color: #d3d3d3;
}

aside#sidebar {
	background-color: #d6d6d6;
	padding: 2em;
} 

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
//.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sidebar
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: table;
	figcaption {
		padding: 8px 10px;
		color: $primary-color;
		margin-bottom: $paragraph-margin-bottom;
		background-color: $color13;
		display: table-caption;
		caption-side: bottom;
		word-wrap: break-word;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}