/*! Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Our Custom Settings
@import "customSettings";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";



/* Viewport for IE10 and W3C seen in: http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag/ */

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
/* Start to customize Reverie */
.top-bar {
font-family: 'lato', sans-serif;
}

.breadcrumbs {
	font-family: 'lato', sans-serif;
}

.contain-to-grid {
	width: 100%;
	background: none;
}

.fixed {
	width: 100%;
	left: 0;
	position: fixed;
	top: 0;
	z-index: 99;
	height: 2.79em;
}

a { color: #000; text-decoration:none; line-height: inherit; }
a:hover { color: #555; text-decoration:underline }
a:focus { color: #555; outline: none; }
h1 a { color: #000; text-decoration: none; line-height: inherit; } /* Frontpage (content.php) Title Old*/
h2 span a { font-size: 2.75rem; color: #000; text-decoration: none; line-height: initial; } /* Frontpage (content.php) Title SEO */

/* orbit customs */

.orbit-caption h2 {
	color: #BEFB03;
}

.orbit-caption h3 {
	color: #BEFB03;
}

.orbit-caption h4 {
	color: #BEFB03;
}

.orbit-caption {
	font-family: 'lato', sans-serif;
	font-weight: bold;
	width: 65%;
}

.slider-one .bx-wrapper .bx-viewport{
    background: #767676;
}

/* Diverse */
ul {
margin-left: 1rem;
}

aside#sidebar {
	background-color: #d6d6d6;
	padding: 2em;
} 

.breadcrumbs {
	display: block;
	padding: 0.5625em 0.875em 0.5625em;
	overflow: hidden;
	margin-left: 0;
	list-style: none;
	border-width: 0px;
	background-color: #d8d8d8;
}

.breadcrumbs>* {
	margin: 0;
	float: left;
	font-size: 0.9em;
	text-transform: uppercase;
}

blockquote h4 {
	background-color: #d3d3d3;
}

.toc_number {
	font-weight: bold;
}

.alert-box.success {
background-color: #CFFD40;
border-color: #b5ee02;
color: black;
}

.label.success.radius {
color: #555;
}

/*Footer*/

ul.mobile-nav li a {
    display: block;
    padding: 10px;
    background: none repeat scroll 0% 0% $color20;
    color: white;
    border-bottom: 1px solid white;
	font-weight: 800;
}

.gb-footer-top {
	font-family: 'lato', sans-serif;
	font-size: 0.9em;
	line-height: 21px;
	color: black;
	margin-top: 2em;

}

.row.footer-nav {
	background-color: $color1;
}

.large-6.columns.social {
color: $color4
}

.sub-nav li {
font-family: 'lato', sans-serif;
}

.cc-logo {
float: right;
margin: 0.6em;
margin-top: -1em;
}

.source-org.copyright {
font-size: 0.7em;
text-align: right;
margin-right: 110px;
}

footer.large-12.columns {
	background: $color13;
}

/*Ads*/

.racker-logo {
padding: 1em;
text-align: center;
}

.adwrapper {
margin-bottom: 0.25em;
font-family: 'lato', sans-serif;
font-weight: 300;
}

.Anzeige {
display: inline-block;
margin: 1em 0;
}

.rectangle {
padding-bottom: 3em;
}

.wmuns {
display: inline-block;
margin: 1em 0 .75em 3em;
}

/*Kommentare*/
#social {
background: #D6D6D6 !important;
}

/*Slidedeck*/

@media only screen and (max-width: 910px) {
#slidedeck2_widget-3 {
display: none !important;
}
}

@media only screen and (max-width: 760px) {
#slidedeck2_widget-4,
#slidedeck2_widget-3 {
display: none !important;
}
}

/*IE8 fix: Topbar & grid*/
.lt-ie9 .top-bar {
  background: #2f2f2f;
  *zoom: 1;
  overflow: visible; 
}
.lt-ie9 .top-bar:before, .lt-ie9 .top-bar:after {
  content: " ";
  display: table; 
}
.lt-ie9 .top-bar:after { clear: both; }
.lt-ie9 .top-bar .toggle-topbar { display: none; }
.lt-ie9 .top-bar .title-area { float: left; }
.lt-ie9 .top-bar .name h1 a { width: auto; }
.lt-ie9 .top-bar input,
.lt-ie9 .top-bar .button {
  line-height: 2em;
  font-size: 0.875em;
  height: 2em;
  padding: 0 10px;
  position: relative;
  top: 8px; 
}
.lt-ie9 .top-bar.expanded { background: #111111; }
.lt-ie9 .contain-to-grid .top-bar {
  max-width: 57.5em;
  margin: 0 auto; 
}
.lt-ie9 .top-bar-section {
  -webkit-transition: none 0 0;
  -moz-transition: none 0 0;
  transition: none 0 0;
  left: 0 !important; 
}
.lt-ie9 .top-bar-section ul {
  width: auto;
  height: auto !important;
  display: inline; 
}
.lt-ie9 .top-bar-section ul li { float: left; }
.lt-ie9 .top-bar-section ul li > a { padding-right: 14px !important; }
.lt-ie9 .top-bar-section ul li .js-generated { display: none; }
.lt-ie9 .top-bar-section li a:not(.button) {
  padding: 0 15px;
  line-height: 45px;
  background: #111111; 
}
.lt-ie9 .top-bar-section li a:not(.button):hover { background: #2b2b2b; }
.lt-ie9 .top-bar-section .has-dropdown > a { padding-right: 35px !important; }
.lt-ie9 .top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 5px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  margin-top: -2.5px; 
}
.lt-ie9 .top-bar-section .has-dropdown.moved { position: relative; }
.lt-ie9 .top-bar-section .has-dropdown.moved > .dropdown { visibility: hidden; }
.lt-ie9 .top-bar-section .has-dropdown:hover > .dropdown, 
.lt-ie9 .top-bar-section .has-dropdown:active > .dropdown { visibility: visible; }
.lt-ie9 .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
  border: none;
  content: "\00bb";
  margin-top: -7px;
  right: 5px; 
}
.lt-ie9 .top-bar-section .dropdown {
  left: 0;
  top: auto;
  background: transparent; 
}
.lt-ie9 .top-bar-section .dropdown li a {
  line-height: 1;
  white-space: nowrap;
  padding: 7px 15px;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li label {
  white-space: nowrap;
  background: #1e1e1e; 
}
.lt-ie9 .top-bar-section .dropdown li .dropdown {
  left: 100%;
  top: 0; 
}
.lt-ie9 .top-bar-section > ul > .divider {
  border-bottom: none;
  border-top: none;
  border-right: solid 1px #2b2b2b;
  border-left: solid 1px black;
  clear: none;
  height: 45px;
  width: 0px; 
}
.lt-ie9 .top-bar-section .has-form {
  background: #111111;
  padding: 0 15px;
  height: 45px; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown {
  left: auto;
  right: 0; 
}
.lt-ie9 .top-bar-section ul.right li .dropdown li .dropdown { right: 100%; }


// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sidebar
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: table;
	figcaption {
		padding: 8px 10px;
		color: $primary-color;
		margin-bottom: $paragraph-margin-bottom;
		background-color: $color13;
		display: table-caption;
		caption-side: bottom;
		word-wrap: break-word;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}


.social_share_privacy {
	clear: both;
	margin: 0 auto;
	width: 100%;
	margin-bottom: 0px;
}

.section-auto-sample {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title", $content-selector:".content"); }

  @media #{$small} {
    @include section-container(false,$section-type:tabs);
    & > section { @include section($section-type:tabs, $title-selector:".title", $content-selector:".content"); }
  }
}

.section-auto-sample-vtabs {
  @include section-container($section-type:accordion);
  & > section { @include section($section-type:accordion, $title-selector:".title-sample", $content-selector:".content-sample"); }
}
@media #{$small} {
  .section-auto-sample-vtabs {
    @include section-container($section-type:vertical-tabs);
    & > section { @include section($section-type:vertical-tabs, $title-selector:".title-sample", $content-selector:".content-sample"); }
  }
}